.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: rgba(255,255,255,0.4);
}
.login-box{
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 50vh;
    border-radius: 3em;
    box-shadow: 0 0 2em rgba(255,255,255,0.8),
                inset 0 0 0.8em rgba(255,255,255,0.5);
}
.login-box div{
    margin: 0.1em;
}
.login-button{
    padding-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-title{
    color: white;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    top: -1.5em;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}