.boxMF{
    width: 6em;
    height: 10em;
    
        .cntPoster{
            width: 100%;
            height: 9.9em;

            .imgMF{
                width: 100%;
                height: 9.9em;
            }

        }
}