.img-valoration{
    width: 40vh;
}
.valoration-container{
    border: white solid 0.1em;
    display: flex;
    flex-direction: column;
}
.valoration-contend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}