/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8); 
  }


.valoration-container{
    width: 20em;
    height: 17em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

      /* width */
  ::-webkit-scrollbar {
    width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track  {
        background: rgba(17, 153, 142, 0.3); 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(17, 153, 142, 0.3); 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(17, 153, 142, 0.8); 
    }
    
}
.valoration_image{
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.img-valoration{
  width: 14em;
  height: auto;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  margin: 0;
}
.valoration_contend{
  margin: 0;
  width: 14em;
  max-height: 10em;
  overflow-y: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color:  rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
.valoration_title{
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: white;
  font-weight: bold;
}

