.cntSearch{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100%;
    

    .cntMainS{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .boxSearch{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            .contenedor{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}